body {
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 6px solid rgb(226, 75, 246);
    height: 70%;
    width: 70%;
    background-size: cover;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0 0;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #45a049;
}