* {
    box-sizing: border-box;
}
body {
    background-color: #492f09;
  }
/* ------------------- Header Styles ------------------- */
.link-header{
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
}
.link-header .left      {
    flex-basis: 15%;
    display: flex;
    justify-content:flex-start;
    align-items: center; 
}
.link-header .left img  {
    width: 100%;
    max-width: 120px;
    min-width: 70px;
}
.link-header .mid       {
    flex-basis: 80%;
    justify-content: center; 
    display: flex;
    align-items: center;
}
.link-header .mid a     {
    width: 100%;
    max-width: 170px;
    margin: 15px;
/*  border: 2px solid red;  */
}
.link-header .mid img   {
    width: 100%;
    max-width: 170px;
}
.link-header .right     {
    align-items: center;
    display: flex;
    flex-basis: 15%;
    justify-content:end;
}
.link-header .right img {
    width: 100%; 
    max-width: 50px;

}

/* ------------------- Gallery Styles ------------------ */
.gallery {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.gallery .image {
    position: relative;
}
.gallery .image p {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom-color: #333;
}
/* ------------------------- Canvas --------------------- */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border: 5px solid black;
    background-color: white;
}
.stick{
    z-index: 10;
    top: 0;
    position: sticky;
}
/* ------------------------- Grid --------------------- */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: black;
    padding: 50px;
    gap: 50px;
}

.content {
    background-color: red;
}
.content img {
    width: 100%;
    height: auto;
}
/* ------------------- @media srágory ----------------- */
@media (max-width: 780px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .link-header{
        flex-direction: column;
    }
}