/* ------------------- Header Styles ------------------- */
.link-header{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
}
.link-header .left      {
    flex-basis: 15%;
    display: flex;
    justify-content:flex-start;
    padding: 20px;
    align-items: center; 
}
.link-header .left img  {
    width: 100%;
    max-width: 80px;
    min-width: 70px;
}
.link-header .mid       {
    flex-basis: 80%;
    justify-content: center; 
    display: flex;
    align-items: center;
}
.link-header .mid a     {
    width: 100%;
    max-width: 70px;
    margin: 15px;
}
.link-header .mid img   {
    width: 100%;
}
.link-header .right     {
    align-items: center;
    display: flex;
    flex-basis: 15%;
    justify-content:end;
    padding: 20px;
}
.link-header .right img {
    width: 100%; 
    max-width: 40px;
}

@media (max-width: 768px) {
    .link-header .mid {
        display: none;
    }

    .link-header .burger-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 2000;
    }

    .link-header .burger-menu img {
        max-width: 40px;
    }

    .link-header .burger-menu img:hover ~ .mid,
    .link-header .mid:hover,
    #burger-toggle:checked ~ .mid {
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        z-index: 2000;
    }

    .link-header .mid a {
        margin: 10px 0;
    }
}

@media (min-width: 769px) {
    .link-header .mid {
        display: flex;
        flex-direction: row;
    }

    .link-header .burger-menu {
        display: none;
    }
    
}
#Header_incl_links img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }