/* ------------------- Header Styles ------------------- */
.link-header {
    display: flex;
    width: 100%;
    background-color: antiquewhite;
}
.link-header .left {
    flex-basis: 15%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
}
.link-header .left img {
    width: 100%;
    max-width: 80px;
    min-width: 70px;
}
.link-header .mid {
    flex-basis: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.link-header .mid a {
    width: 100%;
    max-width: 70px;
    margin: 15px;
}
.link-header .mid img {
    width: 100%;
}
.link-header .right {
    align-items: center;
    display: flex;
    flex-basis: 15%;
    justify-content: end;
    padding: 20px;
}
.link-header .right img {
    width: 100%;
    max-width: 40px;
}

/* ------- responsive ------- */
@media (max-width: 768px) {
    .link-header .mid {
        display: none;
    }
    #burger-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border-radius: 5px;
    }
    #burger-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    #burger-toggle:checked + label + #burger-menu {
        display: flex;
    }
    #burger-toggle:checked ~ .mid img {
        display: none;
    }
    #burger-menu a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    #burger-menu img {
        width: 40px;
        height: 40px;
    }

}

@media (min-width: 769px) {
    .link-header .mid {
        display: flex;
        flex-direction: row;
    }  
    .link-header .mid a img {
        width: auto;
        height: auto;
        transition: all 0.2s ease-in-out;
    }
    .link-header .mid a img:hover {
        transform: scale(1.5);
    }
    #burger-icon,
    #burger-menu {
        display: none;
    }
}

#Header_incl_links img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}